body {
    margin: 0;
    overflow: hidden;
    background: #0f1116;
    user-select: none;
}

#map-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    touch-action: none; /* IMPORTANT: fixes jitter on drag */
}

#map, #overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    will-change: transform;
}

#overlay {
    pointer-events: none;
}

#infoPanel {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 260px;
    background: rgba(25,25,35,0.95);
    color: white;
    padding: 14px;
    border-radius: 12px;
}

.hidden {
    display: none;
}
