body {
    margin: 0;
    overflow: hidden;
    background: #111;
}

#map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: grab;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

#infoPanel {
    position: absolute;
    right: 20px;
    top: 20px;
    background: rgba(20,20,20,0.95);
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
}

.hidden {
    display: none;
}
